body {
    background-color: #011f4b;
    margin: 0;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    color: white;
}

.main-text {
    text-align: center;
    color: white;
    font-size: 1.25rem;
    
    
}
.container {
    max-width: 900px;
    margin: 1rem 2rem;
}

.card-grid {
    display: grid;
    align-items: center;
    padding-left: 20px;
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    gap: 1rem;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    background-color: #EAEEFF;
    transform-style: preserve-3d;
    height: 150px;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f, #0f0);
    border-image-slice: 1;
}

.card:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);

}

.card.flip {
    --rotate-y: 180deg;
}

.card .front {
    left: 0;
}

.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    
}

.card .back {
    transform: rotateY(180deg);
}

.flashcard-options {
    margin-top: .5rem;
}

.flashcard-option {
    margin-top: .25rem;
    color: #555;
    font-size: .75rem;
}

.flashcard-option:first-child{
    margin-top: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F1F1E6;
    padding: 0 1.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group > label {
    color: #000;
    font-size: 1.25rem;
    margin-bottom: .25rem;
    padding-left: 2.1rem;
}

.form-group > input {
    font-size: 1.25rem;
    padding: 0.1em 1.5em;
    background-color: #011f4b;
    color: #EAEEFF;
}

.btn {
    color: #000;
    padding: .8em 1em;
    border-radius: .5em;
    border: 3px solid #011f4b;
    cursor: pointer;
    letter-spacing: 4px;
    font-size: 1.25rem;
    outline: none;
    transition: ease-out 0.3s;
    position: relative;
    z-index: 1;
}

.btn:hover {
    color: white;
   
}

.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #011f4b;
}

.btn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

select {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    font-size: 1.25rem;
    padding: 0.1em 0.5em;
    margin-left: 0.3em;
    background-color: #011f4b;
    color: #EAEEFF;
}

